.product-select-wrapper {
  &.small {
    .ss-main {
      min-width: 100px;
      .ss-content {
        min-width: 150px;
        .ss-list {
          padding: 0 6px;
          max-height: 165px;
          &::-webkit-scrollbar {
            width: 8px;
          }
          .ss-option {
            padding: 6px 6px;
            font-weight: 500;
            margin-bottom: 0;
          }
        }
      }
    }
    &.select-sort {
      .ss-main {
        min-width: 25px;
        .ss-content {
          min-width: 150px;
        }
      }
    }
  }
  .ss-main {
    min-width: 235px;
    .ss-single-selected {
      background-color: transparent;
      border-radius: 0;
      border: none;
      padding: 0;
      .placeholder {
        padding-right: 5px;
      }
      .ss-arrow {
        margin: 0;
        .arrow-down, .arrow-up {
          background: url("/images/icons/select-arrow.svg") center no-repeat;
          border: none;
          background-size: 10px 10px;
          width: 10px;
          height: 12px;
          transform: rotate(0deg);
          margin-top: 2px;
        }
      }
    }
    .ss-content {
      margin: 2px 0;
      padding: 18px 6px 10px 0;
      border-radius: 0 0 .25rem .25rem;
      border: none;
      background: theme('colors.gray.100');
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      .ss-list {
        max-height: 200px;
        padding: 0 12px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 15px;
        }
        &::-webkit-scrollbar-track {
          background: theme('colors.gray.200');
        }
        &::-webkit-scrollbar-thumb {
          background-color: theme('colors.gray.700');
        }
        .ss-option {
          font-weight: 600;
          margin-bottom: 5px;
          padding: 9px 16px;
          transition: .2s all ease;
          cursor: pointer;
          &.ss-option-selected {
            background: theme('colors.gray.200');
            color: white;
            &:hover {
              background: theme('colors.gray.200');
              color: white;
            }
          }
          &:hover {
            background: transparent;
            color: theme('colors.gray.750');
          }
        }
      }
    }
  }
}